.welcome-poster {
  display: block;
  background-image: url(../images/welcome-background.jpg);

  width: 1200px;
  height: 767px;
}

.page-main__subscribe {
  background-image: url(../images/subscibe-background.jpg);
  width: 1200px;
  height: 415px;
}

.filter-form {
  background-image: url(../images/filter-form-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 412px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}
